@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&display=swap');
@import url('reset.css');
@import url('crystal.css');
@import url('pages.css');
@import url('shop.css');
@import url('cart.css');

:root {
    /* SYSTEM FONTS */
    --system-ui: system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol';

    /* COLORS */
    --white: #e6e6e6;
    --gray: #d5d5d5;
    --gray-50: #d5d5d566;
    --yellow-lt: #eed9c3;
    --yellow: #e3b261;
    --green: #a78347;
    --green-dk: #353535;
    --blue: #111827;

    --contain-w: 1080px;
}

a {
    color: var(--green);
}

button {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button.primary {
    background: var(--yellow);
    color: var(--blue);
    padding-inline: 24px;
    padding-block: 8px;
    border-radius: 4px;
}

button.primary:hover {
    background: var(--white);
}

button.secondary {
    color: var(--green);
}

button.secondary:hover {
    color: var(--blue);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding-block: 24px;
}

body {
    background: var(--gray);
    color: var(--blue);
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
}

.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

main {
    min-height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: center;
}

section,
.container {
    max-width: var(--contain-w);
    margin-inline: auto;
    padding-inline: 16px;
    height: 100%;
}

.ribbon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--yellow);
    padding-block: 4px;
    font-size: 0.9rem;
}

.ribbon button {
    cursor: pointer;
    padding-inline: 12px;
    padding-block: 4px;
    background: var(--green);
    color: var(--blue);
    border-radius: 4px;
    margin-inline: 8px;
    font-size: 0.7rem;
}

.ribbon button:hover {
    background: var(--white);
}

header {
    background: var(--blue);
    padding-block: 32px;
}

.header {
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.logo .odin {
    width: 28px;
    aspect-ratio: 2/3;
    margin-inline: 8px;
    background: url('../assets/odin-logo-colored.svg') no-repeat center center;
}

h1 em {
    color: var(--yellow);
}

nav ul {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

nav button {
    color: var(--gray);
}

nav button:hover {
    color: var(--yellow);
}

footer {
    flex-shrink: 0;
    background: var(--blue);
    color: var(--gray);
    padding-block: 16px;
}

.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.footer a:hover {
    color: var(--yellow);
}

.hidden {
    display: none;
    background: red;
}

.about .illustration,
.crystal-detail .illustration,
.contact .illustration,
.home .illustration {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 32px;
    padding: 32px;
}

.cart-group {
    position: relative;
    width: 36px;
    aspect-ratio: 1/1;
}

.cart-button {
    width: 36px;
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: url('../assets/cart.svg') no-repeat center center;
    background-color: var(--yellow);
    background-size: 70%;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-button:hover {
    background-color: var(--gray);
}

.cart-num {
    position: absolute;
    top: -8px;
    right: -8px;
    background: var(--white);
    color: var(--blue);
    width: 24px;
    aspect-ratio: 1/1;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
}
