.about,
.contact,
.home {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* gap: 64px; */
    align-items: center;
    padding-block: 16px;
}

.about .copy,
.contact .copy,
.home .copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.about .copy h1,
.contact .copy h1,
.home .copy h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding-top: 8px;
    padding-bottom: 16px;
}

.about .copy h3,
.contact .copy h3,
.home .copy h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.about .writeup,
.contact .writeup,
.home .writeup {
    padding-block: 8px;
}

.about .writeup p,
.contact .writeup p,
.home .writeup p {
    padding-block: 8px;
}
