.about,
.cart,
.crystal-detail,
.contact,
.confirmation,
.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding-block: 16px;
}

.about .copy,
.cart .copy,
.crystal-detail .copy,
.contact .copy,
.confirmation .copy,
.home .copy {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

.about .copy h1,
.cart .copy h1,
.confirmation .copy h1,
.contact .copy h1,
.home .copy h1 {
    font-size: 2.8rem;
    line-height: 3rem;
    padding-top: 8px;
    padding-bottom: 16px;
}

.about .copy h3,
.cart .copy h3,
.contact .copy h3,
.confirmation .copy h3,
.home .copy h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.about .writeup,
.cart .writeup,
.confirmation .writeup,
.crystal-detail .writeup,
.contact .writeup,
.home .writeup {
    padding-block: 8px;
}

.about .writeup p,
.cart .writeup p,
.confirmation .writeup h3,
.contact .writeup p,
.home .writeup p {
    padding-block: 8px;
}
