.shop {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    align-items: center;
    padding-block: 36px;
}

.shop h1 {
    font-size: 2rem;
    padding-top: 64px;
}

.shop p {
    max-width: 600px;
    text-align: center;
}

.cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 36px;
    padding-block: 48px;
}

.card .details h2 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    padding-top: 4px;
    padding-bottom: 16px;
}
.card .details h3 {
    font-size: 1.4rem;
}

.card .details p {
    text-align: left;
}

.card {
    /* background: red; */
    padding: 16px;
    padding-top: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card .shop-buttons {
    width: 100%;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .shop-buttons .primary,
.card .shop-buttons .secondary {
    padding-inline: 16px;
    letter-spacing: 0.1rem;
    text-align: center;
}
